
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">NEWS SCRAPPER</a>
  <form class="form-inline">
    <button class="btn btn1 btn-sm btn-warning" type="button"><a href="/">Home</a></button>
    <button class="btn btn1 btn-sm btn-warning" type="button"><a href="/saved">Saved Articles</a></button>
    <button class="btn btn1 btn-sm btn-warning" type="button"><a href="/api/articles/scrape">Get Articles</a></button>
  </form>
</nav>

